*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    text-emphasis: none;
    text-transform: none;
    list-style-type: none;
}

/*$primary: #F4C03B;
$secondary: #59B9C7;*/

header {
  width: 100%;
  height: 100vh;
  background-image: url(/Asset/images/CRITERIA-BEACH-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accroche {
    position: relative;
    margin: 10%;
    left: 15%;
    color: rgb(0, 0, 0);
  }
  
  .nav-link:hover {
    border: dashed #F4C03B;
    border-radius: 10%;
  }
  
  ol, ul, li {
    background-color: #59b8c759;
    border-radius: 10%;
    text-align: center;
  }

  .voyage{ 

    position:relative;
    padding: 10px;
    width: 1100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px;    
  }
  
  #date {
    width: 1000px;
    height: 39px;
    border-radius: 9%;
    background-color: #59b8c759;
    border-color: #59b8c759;
  }
  
  .btn {
    width: 200px;
    height: 39px;
  }

  .form-select {
    background-color: #59b8c759;
    border-color: #59b8c759;
    text-shadow: #F4C03B 1px 0 10px;
  }

  .devis{ 
    margin: 40px;
    width: 1080px;
    height: 39px;
    display: flex;
    justify-content: space-around;
    background-color: #59b8c759;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
      
  }

  
.box{
display: flex;
align-items: flex-start;
justify-content: space-between;
margin: 30px;
}

.box :first-child{
  align-self: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  outline: black;
  background-color: #59B9C7;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-indicators {
  background-color: #59b8c765;
}

  footer{
    width: 100%;
    height: 21vh;
    background-color: #59B9C7;
  }
  
  .contact {
    text-align: left;
  
  }
  
  .reseaux { 
    text-align: center;
  } 
  
  .mentions {
    text-align: left;
  }
  
  .musique {
    align-items: center;
    margin: 0;
    volume: 0.1;
  }

  .box_footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px;
    }
    
    .box :first-child{
      align-self: center;
    }